/*tienich-phone*/
.support-online {
  margin-bottom: 30px;
  a {
    position: relative;
    margin: 20px 10px;
    text-align: left;
    width: 40px;
    height: 40px;
    display: block;
    span {
      border-radius: 2px;
      text-align: center;
      background: var(--main-color);
      padding: 9px;
      display: none;
      width: 180px;
      margin-left: 10px;
      position: absolute;
      color: #fff;
      z-index: 999;
      top: 0;
      left: 40px;
      transition: all 0.2s ease-in-out 0s;
      -moz-animation: headerAnimation 0.7s 1;
      -webkit-animation: headerAnimation 0.7s 1;
      -o-animation: headerAnimation 0.7s 1;
      animation: headerAnimation 0.7s 1;
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
        position: absolute;
        left: -10px;
        top: 10px;
      }
    }
    &:hover {
      span {
        display: block;
      }
    }
  }
  i,
  img {
    width: 40px;
    height: 40px;
    background: var(--main-color);
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
  }
  .btn-support {
    cursor: pointer;
  }
}

.kenit-alo-circle-fill {
  width: 60px;
  height: 60px;
  top: -10px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  @include rgba-bg($main-color, 0.5);
  opacity: 0.75;
  right: -10px;
}

.kenit-alo-circle {
  width: 50px;
  height: 50px;
  top: -5px;
  right: -5px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba($main-color, 0.4);
  opacity: 0.1;
  border-color: var(--main-color);
  opacity: 0.5;
}

.social_fixed-phone {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 55px;
  line-height: 45px;
  color: #fff;
  z-index: 50;
  display: none;
  background: var(--main-color);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    li {
      flex: 0 0 100%/4;
      -ms-flex: 0 0 100%/4;
      max-width: 100%/4;
      width: 100%;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 11px;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        letter-spacing: 1px;
        line-height: 2;
        height: 100%;
        border-left: 1px solid rgba($main-color, 0.2);
        padding-top: 3px;
        i {
            font-size: 19px;
          }
      }
    }
  }
  img {
    display: block;
    margin: 0 auto;
    height: 19px;
    max-width: 100%;
  }
  @include Responsive($lg) {
    display: block;
  }
}




.social_fixed {
  position: fixed;
  right: 15px;
  bottom: 110px;
  z-index: 999;
  a {
    display: block;
  }
  @include Responsive($lg) {
    display: none;
  }
}

#footer {
  @include Responsive($lg) {
    padding-bottom: 55px;
  }
}
