$main-color: #01a859;
$hover-color: #cc2c32;
$container: 1200px;
$sm: 576px;
$md: 767px;
$lg:991px;
$organ: #f56509;
$red: #ec2d3f;
$medium-red: #cc2c32;
$dark-red: #c31829;
$green: #28a745;
$dark-green:#01a859;
$black:#212529;
$gray:#6c757d;
//news
$row_name_news: 2;
$row_desc_news:3;
$padding_col_news:10px;
//photo
$padding_col_photo:10px;
//product
$padding_col_product:12px;
$row_name_product:2;
$price-news:#cc0000;
$price-old:#aaa;
//video
$padding_col_video: 10px;
$row_name_video:2