/* Contact */
.contact-article {
    margin-bottom: 3rem;
}

.contact-input {
    position: relative;
    margin-bottom: 15px;

    textarea {
        resize: none;
        height: 150px;
    }

    .custom-file-label::after {
        content: attr(title);
    }
}

.contact-map {
    position: relative;
    height: 500px;

    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100% !important;
        height: 100% !important;
    }
}
