html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-size: 12px;
    color: #595959;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    position: relative;
    background: url(../images/login-bg.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#particle-canvas {
    width: 100%;
    height: 100%;
}

/* ==========  Login page  ========== */
#main_ad {
    display: flex;
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.loginPage #footer .wrapper {
    padding-left: 0;
}

.loginPage .formRow {
    padding: 0;
}

.formRow {
    clear: both;
    position: relative;
}

.loginWrapper {
    width: 338px;
    margin: -192px 0 0 -170px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loginWrapper .widget {
    width: 340px;
    background: #f9f9f9;
    border: 1px solid #cdcdcd;
    display: block;
    margin-top: 0;
}

.loginLogo {
    position: absolute;
    width: 236px;
    height: 60px;
    display: block;
    top: -55px;
    left: 50%;
    margin-left: -118px;
    text-align: center;
}

.loginControl {
    border-top: none;
    padding: 0px;
}

.logMeIn {
    float: right;
    padding: 7px 20px 8px 20px !important;
}

.rememberMe {
    float: left;
    margin-top: 6px;
}

.rememberMe label {
    width: auto;
    display: block;
    white-space: nowrap;
    margin: -2px 14px 0 14px;
    float: left;
    cursor: pointer;
}

#loginForm {
    width: 55%;
    float: left;
    padding: 25px 50px;
    text-align: center;
}

div.info_login {
    width: 45%;
    float: right;
    background: #32c786;
    padding: 30px;
    height: 100vh;
    max-height: 100%;
}

div.logo_login {
    width: 180px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

div.logo_login img {
    width: 100%;
}

div.desc_ad {
    font-family: arial;
    font-size: 14px;
    color: #fff;
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

.title div {
    line-height: 1;
    font-family: arial;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    padding: 0 30px;
    background: url(../images/ic_login.png) no-repeat top right;
}

label {
    width: 100%;
    font-size: 16px;
    font-family: arial;
    color: #fff;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

label i {
    color: #32c786;
    font-size: 22px;
}

input#username, input#password {
    outline: none;
    width: 90% !important;
    border: none;
    height: 40px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 3px;
}

.formRow {
    margin-bottom: 26px;
}

button[type="button"] {
    width: 150px;
    height: 50px;
    background: url(../images/btn_login.png) no-repeat !important;
    font-family: arial;
    font-size: 18px;
    color: #fff;
    border: 0 !important;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    line-height: 45px;
    max-height: none !important;
    float: none;
    padding: 0 !important;
    text-transform: none;
    padding-bottom: 5px !important;
}

button[type="button"]:hover {
    cursor: pointer;
}

div[role="alert"] {
    color: #721c24;
    font-size: 1.2em;
    background-color: #f8d7da;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#footer {
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer .wrapper {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

@media (max-width: 700px) {
    #loginForm {
        width: 100%;
        float: left;
        padding: 25px;
        text-align: center;
    }

    div.info_login {
        display: none;
    }
}
