APP_ENV=local
APP_DEBUG=true
APP_DEBUG_DEVELOPER=true
APP_DEBUG_CSS=true
APP_DEBUG_JS=true
APP_SCSS_AUTO_COMPILE=true
APP_TIMEZONE=Asia/Ho_Chi_Minh
APP_SECRET=$nina@
APP_SALT=swKJjeS!t
APP_SERVER_NAME=localhost
APP_BASE_URL=/
APP_CONTRACT=788922w
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=cuuho
DB_USERNAME=root
DB_PASSWORD=
DB_PREFIX=table_
DB_CHARSET=utf8mb4
RECAPTCHA_SITE_KEY=6Ld_l2clAAAAAG9amJdEX-ghOQ3PdOyAXBPk88ib
RECAPTCHA_SECRET_KEY=6Ld_l2clAAAAAH_xLNyfa2UuuiprJquQSmBD8prg

