/* Cart Fix - Removed */

#popup-cart {
  .modal-title {
    text-transform: uppercase;
  }
  .modal-body .wrap-cart {
    padding: 0px;
    box-shadow: none;
    border: 0px;
  }
  .modal-footer {
    padding: 0.75rem 0 0 0;
    border-top: 0px;
  }
}

.buymore-cart {
  color: $red;
  cursor: pointer;
  margin: 0px;
  i {
    margin-right: 2px;
    margin-top: 5px;
    vertical-align: top;
    font-size: 12px;
  }
}

.wrap-cart {
  padding: 20px 15px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.top-cart {
  border-right: 1px solid #eee;
  @include Responsive($lg) {
    margin-bottom: 2rem;
  }
}
.procart {
  padding: 20px 10px;
  border: 1px solid #eee;
  border-top: 0px;
}
.pic-procart {
  text-align: center;
  img {
    max-height: 100px;
    height: inherit;
  }
  .del-procart {
    color: #999;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

.name-procart {
  a {
    font-size: 14px;
    color: #000;
    display: block;
    &:hover {
      color: $red;
    }
  }
}

.properties-procart {
  display: block;
  p {
    display: inline-block;
    margin-bottom: 0px;
    &:first-child {
      margin-right: 10px;
    }
    strong {
      font-weight: 600;
    }
  }
}

.quantity-procart p {
  margin-bottom: 0px;
}
.quantity-counter-procart {
  border: 1px solid #dfdfdf;
  width: 100%;
  height: 30px;
  line-height: normal;
  text-align: center;
  border-radius: 3px;
}
.counter-procart {
  background-color: transparent;
  border: 0px;
  width: 30%;
  color: #333;
  outline: none;
  cursor: pointer;
  font-size: 23px;
  &:hover,
  &:focus {
    color: $red;
  }
  &:disabled,
  &:disabled:hover {
    color: #ccc;
    cursor: not-allowed;
  }
}

.counter-procart-minus {
  line-height: 26px;
}
.counter-procart-plus {
  line-height: 24px;
}
.quantity-counter-procart .quantity-procart {
  width: 40%;
  box-sizing: border-box;
  border: 0px;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  outline: none;
  box-shadow: none;
  padding: 0px;
  color: #333;
  text-align: center;
}
.price-procart {
  width: 20%;
  text-align: right;
}
.price-procart-rp {
  display: none;
  width: 100%;
  margin-bottom: 10px;
  font-size: 13.5px;
}
.price-new-cart {
  color: $red;
  margin-bottom: 0px;
}
.price-old-cart {
  color: #999;
  text-decoration: line-through;
}
.procart-label {
  border: 0px;
  background: #eee;
  padding: 10px;
  margin: 0px;
  text-transform: capitalize;
}
.procart-label .quantity-procart p:last-child {
  display: none;
}
.money-procart {
  margin-top: 15px;
}
.total-procart {
  background: #eee;
  padding: 7px 10px;
  border: 1px solid #dddfe2;
  margin-bottom: -1px;
  p {
    margin-bottom: 0px;
    font-size: 15px;
    &:last-child {
      color: $red;
    }
  }
}

.section-cart {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}
.title-cart {
  font-size: 15px;
  text-transform: uppercase;
  color: $red;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.information-cart {
  margin-bottom: 1.5rem;
}
.input-cart {
  margin-bottom: 0.5rem;
  position: relative;
  textarea {
    resize: none;
    height: 100px;
  }
  select {
    cursor: pointer;
  }
}

.payments-cart {
  text-align: left;
  margin-bottom: 5px;
  min-height: auto;
  &:last-child {
    margin-bottom: 0px;
  }
  input {
    top: calc(50% - 1.25rem / 2);
  }
}

.payments-label {
  cursor: pointer;
  background: #eee;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 0px;
  color: #313131 !important;
  &::before,
  &::after {
    top: calc(50% - 1rem / 2);
  }
  &.active {
    background: $red;
    color: #ffffff !important;
  }
}

.payments-info {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  background: #f5efef;
  border-radius: 5px;
  p {
    margin-bottom: 1em;
  }
  &.active {
    padding: 10px 15px;
    margin-top: 5px;
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

.btn-cart {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  font-size: 14px;
  text-transform: uppercase;
  background: #fd6e1d;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#fd6e1d),
    to(#f59000)
  );
  background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
  background: -moz-linear-gradient(top, #f59000, #fd6e1d);
  background: -ms-linear-gradient(top, #f59000, #fd6e1d);
  background: -o-linear-gradient(top, #f59000, #fd6e1d);
}
.empty-cart {
  padding: 25px 30px;
  display: block;
  text-align: center;
  color: #23527c !important;
  width: 100%;
  i {
    color: red;
    font-size: 70px;
  }
  p {
    margin: 15px 0px;
    color: #333;
    font-size: 18px;
  }
  span {
    display: inline-block;
    border: 1px solid #2e9ef2;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    max-width: 325px;
  }
}

@media (max-width: 767px) {
  .quantity-procart {
    text-align: right;
  }
  .price-procart,
  .procart-label .quantity-procart p:first-child {
    display: none;
  }
  .price-procart-rp,
  .procart-label .quantity-procart p:last-child {
    display: block;
  }
}
@media (max-width: 567px) {
  .procart-label,
  .name-procart a {
    font-size: 13px;
  }
}
.color-pro-detail {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 35px;
  height: 30px;
  margin: 0px 0px 3px 0px;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.size-pro-detail {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 3px 10px 4px 10px;
  display: inline-block;
  position: relative;
}

.size-pro-detail.active,
.color-pro-detail.active {
  border-color: #e5101d;
  color: #e5101d;
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(../images/check-cart.png);
  }
}

.color-pro-detail input[type="radio"],
.size-pro-detail input[type="radio"] {
  display: none;
}

.quantity-pro-detail {
  width: 100%;
  max-width: 110px;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  span {
    line-height: 25px;
    padding: 0px;
    width: 30px;
    height: 30px;
    color: #5f5f5f;
    cursor: pointer;
    font-size: 22px;
    border: 1px solid #cccccc;
    &.quantity-plus-pro-detail {
      border-left: 0px;
    }
    &.quantity-minus-pro-detail {
      border-right: 0px;
    }
  }
  input {
    height: 30px;
    border: 1px solid #cccccc;
    width: calc(100% - 60px);
    text-align: center;
    font-size: 14px;
    padding: 5px;
  }
}

.cart-pro-detail {
  margin-bottom: 1rem;
  a {
    font-size: 14px;
    color: #ffffff !important;
    text-transform: uppercase;
  }
  @include Responsive(369px) {
    .cart-pro-detail {
      a {
        width: 100%;
        &:first-child {
          margin-right: 0px;
          margin-bottom: 0.5rem;
        }
        i {
          display: none;
        }
      }
    }
  }
}
.cart-product {
  margin-bottom: 0px;
  span {
    cursor: pointer;
    width: 49%;
    float: left;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    padding: 7px 5px;
    border-radius: 3px;
  }
}

.cart-add {
  margin-right: 2%;
  background-color: $red;
  &:hover {
    background-color: $dark-red;
  }
}

.cart-buy {
  background-color: $green;
  &:hover {
    background-color: $dark-green;
  }
}
